# =================================================================
# CONFIGURACIÓN DE INFRAESTRUCTURA (DOCKER)
# =================================================================
# Este archivo controla los nombres de los contenedores y los 
# puertos expuestos en el HOST.
# NO es para variables de la aplicación (Laravel/Angular).
# =================================================================

# --- NOMBRES DE CONTENEDORES ---
BACKEND_CONTAINER_NAME=hl7restapi
FRONTEND_CONTAINER_NAME=hl7frontend

# --- PUERTOS (HOST) ---
# Entorno de Desarrollo (Puerto local -> Contenedor)
API_PORT_HOST_DEV=8002
FRONT_PORT_HOST_DEV=4202

# Entorno de Producción (Puerto local -> Contenedor)
API_PORT_HOST_PROD=8003
FRONT_PORT_HOST_PROD=4203

# --- RED ---
DOCKER_NETWORK_NAME=hl7interoperabilidad_net
