APP_NAME=Hl7RestAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://metatron.fciclubnoel.com:8082

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=SIIS
DB_USERNAME=admin
DB_PASSWORD=?$11$P0s*3FxC

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

## Las Credenciales del ministerio se deben parametrizar aqui
# Get Token
OAUTH_TENANT_ID=3d4b3d76-b910-426c-bd8f-bd964e3e1b53
OAUTH_GRANT_TYPE=Client_Credentials
OAUTH_CLIENT_ID=bd339cb0-1606-4182-98d0-3f1d8c5b2595
OAUTH_CLIENT_SECRET=amG8Q~PD34VNP5qQf2qs2DGx3feqU3tdPn.57c1z
OAUTH_SCOPE=api://ca9a5155-3135-4e44-a644-b92175eb4d21/.default
OAUTH_AUTH_URL=https://login.microsoftonline.com
# Peticion
IHCE_BASE_URL=https://sandbox.ihcecol.gov.co/ihce
IHCE_SUBSCRIPTION_KEY=9ffb7a49797e459bab116c6f2029cae6

# Fecha minima para consulta de ingresos debido a que apartir de la habilitacion se deben enviar los RDA
INGRESOS_FECHA_MINIMA=2025-01-01
#SIIS
SIIS_BASE_URL=http://metatron.fciclubnoel.com/desarrollo/jonier.cabrera/SIIS
